#stats {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#stats div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#stats div p {
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
	background-color: rgba(241, 241, 241, 0.2);
	border-radius: 30rem;
	aspect-ratio: 1 / 1;
	padding: 1rem;
	margin: 0;
}
